#searchBar{
  font-size: xx-large;
}
.card{
  margin:11px;
  height: 140px;
  width: 250px;
  background-color: rgba(38, 40, 70, 0.686);


}
.card-body{
  word-wrap: normal;
  padding: 1%;
}
h5{
  font-size: small;

}
