<mat-toolbar style="background-color: rgb(19, 19, 29)">
  <span>Alumni Search</span>
</mat-toolbar>
<div class="container mx-auto">
  <div class="row">
    <div class="col-lg-4" style="margin-top: 1.5%;">
      <div class="card" style="text-align: center;color: aliceblue;background-color: rgba(13, 12, 29, 0.562);">

        <div class="card-body">
          <h1 class="card-title">Login/SignUp</h1>
          <p style="color: rgb(200, 200, 255);">"Due to inapropriate  login creditional other methods of signUp and Login are Disabled"</p>
          <button type="button" class="btn" id="loginBTN"
            style="background-color: rgb(41, 53, 118);color: antiquewhite;" (click)='Auth.googleSignin()'><img src="assets/icons/search.svg" height="20" style="margin-right:5px">Login with Google</button>
        </div>
      </div>
    </div>
    <hr>


</div>
