.card-header,.card-footer,.card-body{
  background-color: rgb(17, 17, 53);
}
.form-control{
  background-color: #190e33;
  color: white;
  font-size: larger;
  border-color: #170541;
  border-radius: 10px;

}
.card{
  border-radius: 15px;
  box-shadow: 2px 2px rgb(0, 0, 0);
  padding: 0.3rem;
  background-color: #170541;
}
#postBTN{
  color: rgb(67, 167, 255);
  border-color: rgb(82, 158, 225);
}
#imgpost{
  color: rgb(67, 167, 255);
  border-color: rgb(82, 158, 225);
}

