.nav-link{
  margin-top: 1rem;
}
h3{
  font-size: large;
  color: rgb(74, 113, 146);
}
span{
  font-size: x-large;
  font-style: italic;
  font-family: fantasy;
  color: rgb(165, 171, 184);
}
.ico{
  margin-right: 5px;
}
