<mat-toolbar style="background-color: rgb(19, 19, 29)">
  <span>Profile</span>
</mat-toolbar>
<div class="card" style="text-align: center;color: aliceblue;background-color: rgba(13, 12, 29, 0.562);">

  <div class="card-body">
    <h1 class="card-title"><img src="" alt=""></h1>
      <!-- <h1>{{username}}{{email}}</h1> -->
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="Abc@xyz.com" [(ngModel)]='displayName'>
    </div>
    <div class="form-group">
      <label for="Branch">Stream</label>
      <input type="Text" class="form-control" name="branch" id="branch" placeholder="Ex. Computer Engineering" [(ngModel)]='branch'>
    </div>
    <div class="form-group">
      <label for="sel1">Register As:</label>
      <select class="form-control" id="role" [(ngModel)]="role">
        <option>Alumni</option>
        <option>Student</option>
        <option>Faculty</option>
      </select>
    </div>
    <div id="inAlumni" *ngIf='role=="Alumni"'>
      <div class="form-group">
        <label for="ws">Working As</label>
        <input type="text" class="form-control" name="ws" id="ws" placeholder="Ex.CEO" [(ngModel)]='WAs'>
      </div>
      <div class="form-group">
        <label for="passout">Passout Year</label>
        <input type="number" class="form-control" name="passout" id="passout" placeholder="2020" [(ngModel)]='POYear'>
      </div>
      <div class="form-group">
        <label for="wy">Years of Experience</label>
        <input type="number" class="form-control" name="wy" id="wy" placeholder="2" [(ngModel)]='PYYear'>
      </div>
      <div class="form-group">
        <label for="cc">Current Company Name</label>
        <input type="text" class="form-control" name="cc" id="cc" placeholder="eg. GOOGLE" [(ngModel)]='cName'>
      </div>
    </div>
    <div id="inAlumni" *ngIf='role=="Student"'>
     <div class="form-group">
       <label for="cy"> Current Year</label>
       <select class="form-control" name="year" id="cy" [(ngModel)]='Cyear'>
         <option>First</option>
         <option>Second</option>
         <option>Third</option>
         <option>Fourth</option>
       </select>
     </div>
     {{Cyear}}
    </div>
    <div id="inAlumni" *ngIf='role=="Faculty"'>
      <div class="form-group">
        <label for="ws">Working As</label>
        <input type="text" class="form-control" name="ws" id="ws" placeholder="Ex.Assistant Professor" [(ngModel)]='WAs'>
      </div>
      <div class="form-group">
        <label for="wy">Years of Experience</label>
        <input type="text" class="form-control" name="wy" id="wy" placeholder="1" [(ngModel)]='Cyear'>
      </div>
    </div>
    <button type="button" class="btn" id="loginBTN"
      style="background-color: rgb(41, 53, 118);color: antiquewhite;" (click)='updateDetails()'>Update</button>
  </div>
</div>

